@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Oswald", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
} 

button {
  cursor: pointer;
}
 
.cursor-ball {
      position: fixed;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      background-color: #FD7E14;
      border-radius: 50%;
      pointer-events: none;
      z-index: 9999;
      transform: translate(80%, 200%); /*Positions the ball behind the cursor*/
}

.icon-menu {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: 1px solid #ddd;
    width: 35%;
    margin: 3% auto;
    border-radius: 3rem;
    padding: .5rem;
    text-transform: uppercase;
}

.nav-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: .5rem;
}

.my-svg {
    margin-left: 0;
}

nav img:hover {
    scale: 1.1;
}
 
nav ul li {
    list-style: none;
    display: inline;
    margin: 0 .5rem;
    position: relative;
}

nav ul li:hover {
    padding-bottom: .3rem;
    border-bottom: 2px solid #FD7E14;
}

nav ul li a {
    text-decoration: none;
    color: #5c5a5a;
}

.home-section {
    padding: 0 7rem;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #ddd, #776f6f, #ddd) 1;
    padding-bottom: 1rem;
}

.imageset {
    position: relative;
    display: inline-block;
    width: 23rem;
    margin: 4% 0;
}

.profile-image {
    width: 80%;
    border-radius: 10%;
    margin-left: 2rem;
}

.wave-icon {
  position: absolute;
  bottom: 2rem; 
  right: 0;
  transform: translateX(-50%);
  width: 48px;
  height: 48px;
  background-color: #FD7E14;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.wave-icon .hand {
  width: 35px; 
  height: auto;
  transform-origin: 70% 70%; /* pivot point for rotation */
  animation: wave 1.5s infinite;
}
  
 @keyframes wave {
  0%   { transform: rotate(0deg); }
  20%  { transform: rotate(15deg); }
  40%  { transform: rotate(-10deg); }
  60%  { transform: rotate(15deg); }
  80%  { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
} 

.home-text  {
    margin-top: 10rem;
    font-family: "Oswald", sans-serif;
    color: #5c5a5a;
    font-weight: 400;
    line-height: 3.9rem;
}

.home h1 {
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -.2rem;
    color: #513366;
}

.home h2 {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
}

.home p {
    font-size: 1.39rem;
    color: #5c5a5a;
}

.home-text button {
    border-radius: 8rem;
    background: none;
    border: 1px solid #FD7E14;
    font-family: "Oswald", sans-serif;
    color: #FD7E14;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: .8rem;
    padding: .7rem;
    width: 10rem;
    font-size: 1rem;
}

.home-text button:hover {
    background: #FD7E14;
    color: #fff;
    font-weight: 100;
}

.home-text button a {
  text-decoration: none;
  color: inherit;
} 


.about {
    margin: 2rem 7rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #ddd, #776f6f, #ddd) 1;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

.about-text  {
    line-height: 1.7rem;
    font-family: "Fira Sans", sans-serif;
    color: #5c5a5a;
    font-weight: 400;
    width: 50%;
}

.about-me h3 {
    padding-top: 2rem;
    font-size: 1.9rem;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    color: #513366;
}

.about-image {
    width: 25%;
    border-radius: 10%;
}

.services {
    width: 60%;
    padding-left: 7rem;
}

.services h3 {
  padding-bottom: .5rem;
  font-weight: 500;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #513366;
}

.services h4 {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
}

.service-items {
  border-bottom: .5px solid #FD7E14;
}

.service-list {
  padding-bottom: .3rem;
  display: flex;
  justify-content: space-between;
}

.service-list img {
  width: 40px;
  height: 35px;
}

.service-content {
  margin-top: 6px;
  display: none;
  color: #555;
  list-style: none;
}

.service-content li {
 display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 20px;
}

.service-content img {
  width: 20px;
}

.about h2, .projects h2, .contact h2, .tools h2 {
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 2.5rem;
    color: #513366;
    text-align: center;
}


.projects {
    position: relative;
    margin: 3rem auto;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: start;
    margin: 0 5rem;
    gap: 3rem;
}

.project-card {
    border-radius: 5%;
    background: #161515;
    padding: 2.5rem;
    color: #fff;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform .5s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card h3 {
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
}

.project-card p {
    font-family: "Fira Sans", sans-serif;
}

.pro-img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.project-card img {
    width: 30%;
}

.contact {
    margin: 0 7rem;
    margin-bottom: 2rem;
    border-top: 1px solid transparent;
    border-image: linear-gradient(to right, #ddd, #776f6f, #ddd) 1;
    padding-top: 3rem;
    font-family: Arial, sans-serif;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-form {
  width: 50%;
  padding-top: 3rem;
  border-radius: 10px;
}

.name-wrapper {
    display: flex;
    gap: 1rem;
}

.name {
    flex: 1;
}

.form-input {
  font-size: .8rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 50px;
  background-color: #dddddd6b;
  border: 1px solid #FD7E14;
  /* border: none; */
  width: 100%;
  display: block;
  transition: all 0.3s;
}

.form-radius {
    border-radius: 20px;
    height: 10rem;
}

.form-label {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
    display: block;
    transition: all 0.3s;
    text-align: left;
    color: #161515;
}

.contact-btn {
    border-radius: 8rem;
    background: none;
    border: 1px solid #FD7E14;
    font-family: "Oswald", sans-serif;
    color: #FD7E14;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: .5rem;
    padding: .7rem;
    width: 10rem;
    font-size: 1rem;
}

.contact-btn:hover {
    background: #FD7E14;
    color: #fff;
    font-weight: 100;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #5c5a5a;
  text-align: center;
  padding: 2rem 5rem;
    font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: hsl(0, 0%, 7%);
}

.footer-navigation {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  border-bottom: 1px solid #777;
  padding: 2rem 0;
}

.footer-item {
  color: #f7f7f7;
}

.footer-text {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  font-weight: bold;
}

.footer-link:link, .footer-link:visited {
  color: #ddd;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
}

.footer-icons {  
  margin-top: .8rem;
  cursor: pointer;
}

.footer-icons ul {
  display: flex;
  flex-direction: row;
}

.footer-icons ul li a {
  text-decoration: none;
}

.footer-icons ul li {
    list-style: none;
    margin-right: 1.5rem;
}

footer p {
  margin-top: 1rem;
  font-size: .8rem;
  text-align: center;
  color: #fff;
}


@media (max-width: 1024px) {
  nav {
    width: 65%;
    align-items: center;
  }

  nav ul {
    text-align: center;
  }

  .home-section,
  .about,
  .contact {
    padding: 0 3rem;
  }

  .home {
    align-items: center;
  }

  .home-text {
    margin-top: 7rem;
  }

  .about {
    margin: 1rem 3rem;
    padding-bottom: 3rem;
  }

  .about-me {
    margin-top: 1rem;
  }

  .about-text {
    margin-top: 1rem;
  }

  .about-image {
    width: 35%;
  }

  .services {
    padding-left: 2.2rem;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact h2 {
    margin-top: 3rem;
  }

  .book img {
    width: 38%;
    margin-top: 10%;
  }

  .form-radius {
    border-radius: 20px;
    height: 8rem;
  }

  .book-form {
    width: 100%;
    padding: 2rem;
  }

  .contact-btn {
    padding: .5rem;
  }

  .footer-list,
  .footer-icons ul {
    text-align: center;
  }

  .footer-icons ul li {
    margin: 0 0.5rem;
  }
}


@media (max-width: 767px) {
  .icon-menu {
    display: none;
  }

  nav {
    width: 70%;
    transition: width .4s ease;
    overflow: hidden;
    margin-top: 3rem;
  }

  nav.open {
    width: 80%;
  }

  nav.open ul {
    display: block;
  }

  nav.open .icon-menu {
    display: none;
  }

  .nav-img {
    width: 43px;
    height: 44px;
  }

  .my-svg {
    width: 40px;
    height: 40px;
  }

  .home-section,
  .about,
  .contact {
    padding: 0 3rem;
  }

  .home-section {
    margin-top: 1rem;
  }

  .home {
    flex-direction: column;
    align-items: center;
  }

  .imageset {
    width: 40%;
  }

  .home img {
    width: 100%;
    margin: 1rem 0;
  }

  .wave-icon {
    bottom: 0;
    left: 50%;
  }

  .home-text {
    margin-top: 0;
    text-align: center;
    letter-spacing: -1px;
  }

  .home-text h1 {
    font-size: 3rem;
  }

  .home-text h2 {
    font-size: 2.5rem;
  }

  .home-text p {
    padding: 0;
    font-size: 1.5rem;
  }

  .home-text button {
    width: 25%;
    margin: 0.5rem 0;
    padding: .5rem;
  }

  .home-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .about {
    margin-bottom: 0;
    padding-bottom: 2rem;
  }

  .about-me {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .about-image {
    width: 45%;
    height: auto;
  }

  .about-text {
    padding: 0 2rem;
    margin-left: 0;
    width: 100%;
  }

  .services {
    padding-left: 0;
    width: 80%;
    margin: 1rem auto;
  }

  .services h3 {
    text-align: center;
  }

  .project-container {
    margin: 0 3rem;
    gap: 2rem;
  }

  .project-card {
    padding: 2rem;
  }

  .project-card h3 {
    font-size: 1.4rem;
  }

  .contact {
    margin: 0 5rem;
    padding: 0;
  }

  .contact h2 {
    margin-top: 0;
  }

  .book {
    flex-direction: column;
    align-items: center;
  }

  .book img {
    width: 65%;
    height: 62vh;
    margin-top: 5%;
  }

  .book-form {
    width: 100%;
    padding: 1rem;
    padding-top: 3rem;
  }

  .name-wrapper {
    flex-direction: column;
  }

  .contact {
    padding: 3rem;
  }

  footer {
    padding: 1rem;
    font-size: 0.9rem;
  }

  .footer-list {
    padding-left: 0;
  }

  .footer-icons ul {
    justify-content: center;
  }

  .footer-icons ul li {
    margin: 0.5rem;
  }
}

@media (max-width: 480px) {
 .icon-menu {
    display: block;
    width: 25px;
    height: 16px;
  }

  nav {
    width: 60%;
    margin-top: 8%;
  }

  nav ul {
    display: none;
  }
nav ul li {
    font-size: .8rem;
    margin-left: -2px;
}

nav ul li:last-child {
  margin: 0;
}

.nav-img {
  width: 30px;
  height: 30px;
}

  nav.open ul {
    display: block;
  }

  nav.open .icon-menu {
    display: none;
  }

  .my-svg {
    width: 32px;
    height: 30px;
  }

  .home-section {
    margin-top: 0;
  }

  .wave-icon {
    width: 35px;
    height: 35px;
  }

  .wave-icon .hand {
    width: 30px;
  }

  .home-section, .about, .contact {
    padding: 0 1rem;
  }

  .home-text {
    margin-left: 0;
    line-height: 2.5rem;
  }

  .home-text h1 {
    font-size: 2.2rem;
  }

  .home-text h2 {
    font-size: 1.8rem;
  }

  .home-text p {
    font-size: 1rem;
    padding: 0;
  }

  .imageset {
    width: 60%;
  }

  .home-text button {
    width: 35%;
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .about h2, .projects h2, .contact h2, .tools h2 {
    font-size: 2rem;
  }

  .about {
      padding: 0;
    padding-bottom: 2rem;
  }

  .about-image {
    width: 70%;
  }

  .about-text {
    margin-top: 0;
    padding: 0;
    font-size: 0.9rem;
    margin-left: 0;
  }

  .about-me h3 {
    font-size: 1.6rem;
  }

  .services {
    width: 100%;
  }

  .services h4 {
    font-size: 1.1rem;
  }

  .projects {
    margin-top: 10%;
  }

  .project-container {
    grid-template-columns: 1fr;
  }

    .project-card {
        height: 40vh;
    }

  .contact {
    margin: 0 3rem;
    padding: 1rem 0;
  }

  .book-form {
    padding-top: 0;
    padding-bottom: 0;
  }

  .book img {
    width: 65%;
    height: auto;
  }

  .form-input {
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
  }

  .form-label {
    font-size: 0.9rem;
  }

  .form-radius {
    height: 7rem;
  }

  .contact-btn {
    font-size: 0.9rem;
    padding: 0.5rem;
    margin: 0;
  }

  footer {
    padding: 1rem;
    font-size: 0.8rem;
  }

  .footer-navigation {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer-icons ul li {
    margin: 0.3rem;
  }

  .footer-item {
    display: block;
    margin: 0.5rem 0;
  }

  .footer-text {
    display: block;
  }

  .desktop-img {
    display: none; 
  }
} 

